In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 12, 13, np.nan, 15],
    'C': ['apple', 'banana', 'cherry', 'date', 'elderberry']
}

df = pd.DataFrame(data)

In [ ]:
# Display the original DataFrame with missing values
print("Original DataFrame:")
print(df)

Original DataFrame:
     A     B           C
0  1.0   NaN       apple
1  2.0  12.0      banana
2  NaN  13.0      cherry
3  4.0   NaN        date
4  5.0  15.0  elderberry

In [ ]:
# 1. Removing Rows with Missing Values: (using dropna) method
# Remove rows with any missing values
df_cleaned = df.dropna()

# Display the DataFrame after removing rows with missing values
print("\nDataFrame after removing rows with missing values:")
print(df_cleaned)

DataFrame after removing rows with missing values:
     A     B           C
1  2.0  12.0      banana
4  5.0  15.0  elderberry

In [ ]:
# 2. Removing Columns with Missing Values: (using drop) method
# Remove columns with any missing values
df_cleaned = df.dropna(axis=1)

# Display the DataFrame after removing columns with missing values
print("\nDataFrame after removing columns with missing values:")
print(df_cleaned)

DataFrame after removing columns with missing values:
            C
0       apple
1      banana
2      cherry
3        date
4  elderberry

In [ ]:
# 3. Filling Missing Values with a Specific Value: (using fillna) method
# Fill missing values with 0
df_filled = df.fillna(0)

# Display the DataFrame after filling missing values with 0
print("\nDataFrame after filling missing values with 0:")
print(df_filled)

DataFrame after filling missing values with 0:
     A     B           C
0  1.0   0.0       apple
1  2.0  12.0      banana
2  0.0  13.0      cherry
3  4.0   0.0        date
4  5.0  15.0  elderberry

In [ ]:
# 4. Filling Missing Values with Mean, Median, or Mode: (using fillna) method
# Fill missing values with the mean of the column 'A'
mean_A = df['A'].mean()
df_filled_mean = df.fillna({'A': mean_A})

# Display the DataFrame after filling missing values with the mean
print("\nThe calculated mean value is:",mean_A)
print("\nDataFrame after filling missing values with the mean:")
print(df_filled_mean)

The calculated mean value is: 3.0

DataFrame after filling missing values with the mean:
     A     B           C
0  1.0   NaN       apple
1  2.0  12.0      banana
2  3.0  13.0      cherry
3  4.0   NaN        date
4  5.0  15.0  elderberry

In [ ]:
# 5. Interpolation: fill missing values based on the values of neighboring data points using the interpolate method
# Interpolate missing values in columns 'A' and 'B'
df_interpolated = df.interpolate()

# Display the DataFrame after interpolation
print("\nDataFrame after interpolation:")
print(df_interpolated)

DataFrame after interpolation:
     A     B           C
0  1.0   NaN       apple
1  2.0  12.0      banana
2  3.0  13.0      cherry
3  4.0  14.0        date
4  5.0  15.0  elderberry